---
import '@fontsource-variable/onest';
import Navbar from '../components/Navbar.vue';
import Card from '../components/Card.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-black container mx-auto">
		<Navbar client:visible />
		<main id="home" class="grid grid-cols-1 md:grid-cols-2 gap-2 px-2">
			<Card>
				<img class="rounded-full w-28 md:w-32 mb-4" src="/photo.jpg" alt="Cristian J. López">
				<h1 class="text-2xl lg:text-5xl font-bold mb-1">Cristian J. López</h1>
				<p class="text-normal lg:text-2xl">Web developer focused on creating incredible experiences and amazing solutions</p>
			</Card>
			<div class="flex flex-col gap-2">
				<Card centerContent={true}>
					<h2 class="text-xl lg:text-4xl font-bold mb-4 text-center">Have a project in mind?</h2>
					<div class="flex justify-center">
						<a class="px-8 py-2 bg-sky-700 rounded-full" href="mailto:lopezmorataya2002@gmail.com">lopezmorataya2002@gmail.com</a>
					</div>
				</Card>
				<div class="flex gap-2">
					<Card centerContent={true}>
						<a class="font-bold" target="_blank" href="https://github.com/CristianBlake">GitHub</a>
					</Card>
					<Card centerContent={true}>
						<a class="font-bold" target="_blank" href="https://www.linkedin.com/in/blakecristian/">LinkedIn</a>
					</Card>
				</div>
			</div>
		</main>
	</body>
</html>

<style is:global>
* {
	font-family: 'Onest Variable', sans-serif;
}
</style>
