---
import Card from './Card.astro';
import Copy from './Copy.astro';
import NewTab from './NewTab.astro';

interface Props {
  setId?: boolean
}

const { setId } = Astro.props;

let id: string = 'contact-social';

if (setId) {
  id = 'contact';
}
---

<div class:list={[
  'flex flex-col gap-2',
  {
    "px-2": setId
  }
]}>
  <Card centerContent={true}>
    <h2 class:list={[
      'text-xl lg:text-4xl font-bold mb-4 text-center',
      {
        'text-2xl lg:text-5xl my-4': setId
      }
    ]} id={id}>
      Have a project in mind?
    </h2>
    <div
      class='flex justify-center items-center gap-2 px-8 py-2 bg-sky-700 rounded-full'
    >
      <a href='mailto:lopezmorataya2002@gmail.com'>
        lopezmorataya2002@gmail.com
      </a>
      <Copy />
    </div>
  </Card>
  { !setId &&
    <div class='flex gap-2'>
    <Card centerContent={true}>
      <div class='flex justify-center items-center gap-2'>
        <a
          class='font-bold'
          target='_blank'
          href='https://github.com/CristianBlake'>GitHub</a
        >
        <NewTab />
      </div>
    </Card>
    <Card centerContent={true}>
      <div class='flex justify-center items-center gap-2'>
        <a
          class='font-bold'
          target='_blank'
          href='https://www.linkedin.com/in/blakecristian/'>LinkedIn</a
        >
        <NewTab />
      </div>
    </Card>
  </div>
  }
</div>
