<div class='tooltip'>
  <button id='copyButton'>
    <span class='tooltiptext' id='copyTooltip'>Copy</span>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='16'
      height='16'
      viewBox='0 0 448 512'
      ><path
        fill='currentColor'
        d='M208 0h124.1C344.8 0 357 5.1 366 14.1L433.9 82c9 9 14.1 21.2 14.1 33.9V336c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V48c0-26.5 21.5-48 48-48M48 128h80v64H64v256h192v-32h64v48c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V176c0-26.5 21.5-48 48-48'
      ></path></svg
    >
  </button>
</div>

<script>
  const tooltip = document.getElementById('copyTooltip');
  const copyButton = document.getElementById('copyButton');

  function copyToClipboard() {
    let mail = 'lopezmorataya2002@gmail.com';

    navigator.clipboard.writeText(mail);
    if (tooltip !== null) tooltip.innerHTML = 'Done!';
  }

  function mouseOut() {
    if (tooltip !== null) tooltip.innerHTML = 'Copy';
  }

  copyButton?.addEventListener('click', copyToClipboard);
  copyButton?.addEventListener('mouseout', mouseOut);
</script>

<style itemscope>
  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
</style>
