---
import Html from './technologies/Html.astro';
import Css from './technologies/Css.astro';
import Js from './technologies/Js.astro';
import Ts from './technologies/Ts.astro';
import Node from './technologies/Node.astro';
import Nest from './technologies/Nest.astro';
import Php from './technologies/Php.astro';
import Laravel from './technologies/Laravel.astro';
import Inertia from './technologies/Inertia.astro';
import Mysql from './technologies/Mysql.astro';
import Postgre from './technologies/Postgre.astro';
import Mariadb from './technologies/Mariadb.astro';
import Astr from './technologies/Astr.astro';
import React from './technologies/React.astro';
import Vue from './technologies/Vue.astro';
import Quasar from './technologies/Quasar.astro';
import Nuxt from './technologies/Nuxt.astro';
import Vuetify from './technologies/Vuetify.astro';
import Pinia from './technologies/Pinia.astro';
import Git from './technologies/Git.astro';
import Github from './technologies/Gith.astro';
import Gitlab from './technologies/Gitlab.astro';
import Tailwind from './technologies/Tailwind.astro';
import Bootstrap from './technologies/Bootstrap.astro';
import Playwright from './technologies/Playwright.astro';
import Vitest from './technologies/Vitest.astro';
---

<div class='grid grid-cols-3 gap-8 md:flex md:justify-center md:flex-wrap'>
  <Html />  
  <Css />
  <Js />
  <Ts />
  <Node />
  <Nest />
  <Php />
  <Laravel />
  <Inertia />
  <Mysql />
  <Postgre />
  <Mariadb />
  <Astr />
  <React />
  <Vue />
  <Nuxt />
  <Pinia />
  <Playwright />
  <Vitest />
  <Vuetify />
  <Quasar />
  <Git />
  <Github />
  <Gitlab />
  <Tailwind />
  <Bootstrap />
</div>
